body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    background: #f9f9f9 url(../images/bg.jpg) no-repeat;
    background-size: cover;
    font: 12px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #121212;
}

*, 
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

element.style{}
a {}

img {
    border: 0;
}

.clear {
    clear: both;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0px;
}

.head {
    position: relative;
    background: url(../images/head-bg.png) no-repeat center;
    height: 163px;
    width=100%;
}

.head-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../images/head-png.png);
    height: 44px;
}

.center {
    width: 974px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    top: 78px;
    padding: 0 0 0 156px;
    color: #fff;
    text-decoration: none;
    font-family: 'metaboldlfcregular';
    line-height: 26px;
    font-size: 28px;
    text-shadow: 1px 1px 1px #000;
}

.logo img {
    position: absolute;
    left: 0;
    top: 0;
}



.left {
    width: 745px;
    padding-right: 25px;
}


.right {
    float: left;
    width: 204px;
    padding-top: 13px;
}


.footer {
    background: url(../images/footer.jpg) no-repeat center;
    float: left, right;
}

.footer .center {
    box-sizing: border-box;
    height: 66px;
    padding: 7px 15px 0 15px;
}

.cop {
    padding: 0 0 0 36px;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
    background: url(../images/cop.png) no-repeat left;
}

.cop span {
    margin: 0 10px;
    color: #8894bc;
}

.cop em {
    font-style: normal;
    text-transform: uppercase;
}

.cop strong {
    font-weight: 600;
    font-size: 12px;
}


