.comment-wrapper {
    text-size: 10px;
    margin: 0 auto !important;
    max-width: 80%;
    border: 1px solid green;
    text-align: center;
    dislpay: grid;
    grid-template-columns: 60% 20% 20%;
}

.date {
    display: table-cell;
}

img {
    align: left;
    max-width: 100%;
}
.col {
    width: max-content;
}
