* {
    margin: auto 0;
    padding: 0;
    font-size: 1.5vh;
}

html,
body {
    height: 100% !important;
    background: url('../img/bg-body.jpg') center !important;
    background-size: cover !important;
}

.head {
    grid-column: 1/5;
}


.head_image {
    width: 100%;
    height: 100%;
}

.logo, .logo-text {
    position: absolute;
    left: 20px;
    top: 78px;
    padding: 0 0 0 156px;
    color: #fff;
    text-decoration: none;
    font-family: 'metaboldlfcregular';
    line-height: 26px;
    font-size: 28px;
    text-shadow: 1px 1px 1px #000;
}

h2 {
    margin: 2% 10%;
    font-size: calc(1.325rem + .9vw);
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}


.wrapper {
    display: grid;
    grid-template-columns: calc(32vh + 8em) auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-auto-rows: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    grid-template-rows: 165px auto 90vh 90vh 90vh 10vh;
    overflow-x: clip;
}

.wrapper>div {
    padding: 1em;
    background-color: gainsboro;
    height: -webkit-fill-available;
}

.head-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(../img/head-png.png);
    background-size: cover;
    height: auto;
}

.head {
    grid-column: 1/3;
    padding: 0px !important;
    height: 165px !important;
    margin: 0px !important;
    background: url(../img/head-bg.png) no-repeat center;
    background-size: cover !important;

}

.files-button {
    left: 27%;
    right: 27%;
    width: 46%;
    position: relative;
}


.files_list {
    margin: 10px;
    grid-row: 3/10;
    background-color: #0000 !important;
}

a {
    text-decoration: none;
    border: none;
}


.__files__list__ {
    margin-top: 0px !important;
    margin-bottom: 8px;
    padding: 0;
    list-style: none;
    counter-reset: li;
}

.__files__list__ li {
    position: relative;
    border: 2px solid #337AB7;
    background: #EBF3FA;
    padding: 16px 20px 16px 28px;
    margin: 12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.__files__list__ li:hover {
    background: #FFF;
}

.__files__list__ li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left: -40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #337AB7;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.__files__list__ li:hover:before {
    width: 46px;
}

.__files__list__ li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: #337AB7;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

.__files__list__ li:hover:after {
    margin-left: 6px;
}



.block {
    text-align: center;
    margin-right: 3% !important;
    grid-auto-rows: minmax(100px, auto);
    display: none;

}

.block1 {
    position: relative;
    margin-top: 25px;
    text-align: center;
    margin-right: 3% !important;
    grid-auto-rows: minmax(100px, auto);
    display: block;
}


.lightcurve-block {
    position: relative;
    margin-top: 25px;
    height: -webkit-fill-available;
}

.lightcurve {
    height: 100%;
    position: relative;
}

#lightcurve_graph {
    height: 100%;
}

.block1 img {
    max-width: 80% !important;
    border: 3px solid green;
    border-radius: 20% !important;
}

.main_text {
    text-align: center;
    grid-column: 1/3;
}

.logo img {
    position: absolute;
    left: 0;
    top: 0;
}

.lightcurve_graph img {
    position: relative;
    margin: auto 0;

}

.something_and_slider {
    height: 85%;
}


.personal_lightcurve_class {
    width: 85%;
    height: 85%;
}

.personal_lightcurve_class>div {
    height: 100%;
}



.timestamp {
    text-align: left;
}

.list-group {
    grid-template-columns: 89% 9% 2%;
    border-radius: 5px;
}

.check {
    vertical-align: middle;
}

textarea:after {
    border: 1px solid blue !important;
}

.form-group {
    background-color: white;
    border-radius: 5px;
    border: 2px solid violet;
}

.content-group {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

.ui-slider-vertical {
    height: 100%;
}

.slider_text {
    position: relative !important;
    text-align: left;
}


.footer {
    padding: 0 !important;
    background: url(../img/footer.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
    grid-column: 1 / 3;

}


.footer .center {
    height: 80px;
    padding: 10px 15px 0 15px;
}

.center {
    width: 974px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.cop {
    display: block;
    padding: 0 0 0 36px;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    background: url(../img/cop.png) no-repeat left;
}

.cop em {
    font-style: normal;
    text-transform: uppercase;
}

.cop a {
    color: #fff;
}

.cop a:hover {
    color: red;
}

.cop strong {
    font-weight: 600;
    font-size: 15px;
}

.user_settings {
    margin-top: 0.5vh;
    margin-right: 20px;
    height: 3vh;
}


.user_settings a {
    cursor: pointer;
    color: white;

}

.user_settings a:hover {
    color: green;
}

.play {
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid #8B00FF;
    border-radius: 7px;
}

.autoscale_button {
    text-align: end;
    position: inherit !important;
}


.empty-date {
    color: #000;
}

.calendar-wrapper {
    padding: 10px;
    background-color: gainsboro;
}

.has-event {
    color: green;
    font-weight: bold;
    background-color: #00FF0055
}


.list-group-item {
    margin-top: 15px;
}

.row p {
    word-break: break-all;
}

@media (min-width: 850px) and (max-width: 1050px) {
    .block1, .block {
         width: 400px;
    }

    .main_text {
        width: 800px;
    }

}

@media (min-width: 760px) and (max-width: 849px) {
    .block1, .block {
         width: 340px;
    }
    .main_text {
        width: 750px;
    }

}

/* @media (min-width: 1100px) and (max-width: 1490px) {
    .wrapper {
        grid-template-columns: 35% 65%;
    }
}

@media (min-width: 950px) and (max-width: 1099px) {
    .wrapper {
        grid-template-columns: 40% 60%;
    }
}

@media (min-width: 845px) and (max-width: 949px) {
    .wrapper {
        grid-template-columns: 45% 55%;
    }
}

@media (min-width: 760px) and (max-width: 844px) {
    .wrapper {
        grid-template-columns: 50% 50%;
    }
} */

@media (max-width: 759px) {
    .wrapper {
        /* display: block; */
        grid-template-columns: 100%;
    }
}

@media (min-width: 760px) and (max-width: 710px) {
    .head {
        height: 200px !important;
    }

    .logo-text{
        left: 20px;
        top: 135px;
        padding: 0;
    }
}

.keogram, .heatmap {
    height: 100%;
    width: 85%;
    float: left;
}

#keogram_graph, #heatmap_graph{
    height: 100%;
}

.slider {
    float: right;
    height: 90%;
    margin-right: 4em;
}

.autoscale {
    width: 12vh;
    height: 100%;
    font-size: 2vh;
}


.buttons {
    width: 100%
}

.change-buttons {
    position: relative;
    bottom: calc(2vh + 6px);
}

.heatmap {
    height: calc(100% - 10vh);
}

.header {
    font-size: 2.5vh;
}

.btn-primary {
    font-size: 2vh;
}

#something_and_slider_heatmap {
    height: calc(83% - 10vh);
}

.calendar-container {
    max-width: initial;
}