<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Main page</title>
	<meta name="description" content="Data from UV telescope located in PGI observatory for the analysis of auroras">
    {% block scripts %}{% endblock %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="head-bar">
    </div>
    <div class="wrapper">
        <div class="head">
            <div class="center">
                <a href="https://uhecr.sinp.msu.ru/ru/index.html" class="logo">
                <img src="{{url_for('static', filename='img/logo.png')}}">
                Лаборатория космических лучей<br> предельно высоких энергий НИИЯФ МГУ</a>

            </div>
        </div>
        <center class="main_text"><h2>Данные с УФ-телескопа обсерватории ПГИ для исследования полярных сияний</h2></center>
        <div class="files_list" id="listing">
            <ul class="list2a">
                {% for elem in files_list %}
                <li> <a href="#">{{ elem }}</a> </li>
                {% endfor %}
            </ul>
        </div>



        <div class="block">
            {% block lightcurve %}{% endblock %}
        </div>
        <div class="block">
            {% block keogramm %}{% endblock %}
        </div>
        
        <div class="block">
            {% block heatmap %}{% endblock %}
        </div>
        <div class="block">
        </div>
    </div>

    
</body>
</html>