<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Main page</title>
    <meta name="description" content="Data from UV telescope located in PGI observatory for the analysis of auroras">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/graphs.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        function funcSucces(data) {
            $("#text_id").html('You are on the frame number ' + window.current)
            console.log(window.current)
            $("#plotly_graph").remove();
            $('<div>', {
                id: 'plotly_graph'
            }).appendTo("#heatmaps")
            let graphs = JSON.parse(data);
            console.log(graphs);
            Plotly.plot('plotly_graph', graphs, {});
        }

        $(document).ready(function () {
            $("#next").bind("click", function () {
                window.current += 10;
                $.ajax({
                    url: "/",
                    type: 'POST',
                    data: ({
                        current: window.current,
                        pos: 'next'
                    }),
                    datatype: 'text',
                    success: funcSucces
                })
            })
            
            $("#next2").bind("click", function () {
                window.current += 1000;
                $.ajax({
                    url: "/",
                    type: 'POST',
                    data: ({
                        current: window.current,
                        pos: 'next2'
                    }),
                    datatype: 'text',
                    success: funcSucces
                })
            })
            
            $("#last").bind("click", function () {
                window.current -= 10;
                $.ajax({
                    url: "/",
                    type: 'POST',
                    data: ({
                        current: window.current,
                        pos: 'last'
                    }),
                    datatype: 'text',
                    success: funcSucces
                })
            })
            
            $("#last2").bind("click", function () {
                window.current -= 1000;
                $.ajax({
                    url: "/",
                    type: 'POST',
                    data: ({
                        current: window.current,
                        pos: 'last2'
                    }),
                    datatype: 'text',
                    success: funcSucces
                })
            })
        })
    </script>
</head>

<body>
<div id="heatmaps">
    <div id="plotly_graph">
    </div>
</div>

<script>
    window.current = -1;
    $(document).ready(function () {
        $('#next').trigger('click');
    })
</script>


<h5 class="header" id="text_id">You are on the frame number 0</h5>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" id="last2">
        <<
    </button>
    <button type="button" class="btn btn-primary" id="last">
        <
    </button>
    <button type="button" class="btn btn-primary" id="next"> ></button>
    <button type="button" class="btn btn-primary" id="next2"> >></button>
</div>


</body>

</html>
