{% extends "base.html" %}

<!-- HERE STARTS THE ACTUAL DESIGN OF MAIN PAGE -->
{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename='js/hm_buttons.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/def_slider_values.js') }}"></script>
<script>
    $(document).ready(function () {
        let nIntervId;

        function active() {

            if (!nIntervId) {
                nIntervId = setInterval(flashText, 100);
            }

            button_play = document.getElementById("play")
            if (button_play.title === "Stop") {
                clearInterval(nIntervId);
                nIntervId = null;
                button_play.title = "Play"
            } else {
                console.log("dfgfgfge")
                button_play.title = "Stop"
                console.log(button_play.title)
            }

            // check if already an interval has been set up

        }

        function flashText() {
            $.ajax({
                url: "/",
                type: 'POST',
                data: ({
                    type: 'heatmap_button_event',
                    current: window.current,
                    pos: 'play',
                    value0: window.value_heatmap0,
                    value1: window.value_heatmap1,
                    is_auto: window.is_heatmap_autoscale
                }),
                datatype: 'text',
                success: window.funcSucces
            })
        }


        document.getElementById("play").addEventListener("click", active);
    })

</script>

<center class="main_text"><h2>Данные с УФ-телескопа обсерватории ПГИ для исследования полярных сияний</h2></center>
<div class="files_list" id="listing">
    <div class="calendar-wrapper" id="calendar-wrapper">
        <div id="container" class="calendar-container"></div>
    </div>


    <script>


        window.current_date = {'year': 0, 'month': 0, 'full_date': 0};

        get_date_list = function (data) {
            console.log(data['data']);
            window.dates = data['data'].map(function (item, index, array) {
                return [parseInt(item[0]), parseInt(item[1]), parseInt(item[2])]
            });


            let new_dates = window.dates.map(function (item, index, array) {
                return new Date(item[2], item[1] - 1, item[0], 0, 0, 0).toString()
            });

            let dates_events = window.dates.map(function (item, index, array) {
                date = new Date(item[2], item[1] - 1, item[0], 0, 0, 0)
                return {
                    startDate: date.toDateString(),
                    endDate: date.toISOString(),
                    summary: ''
                }
            });


            $(function () {
                $("#container").simpleCalendar();
            });

            let calendar = $("#container").simpleCalendar({

                // displays events
                displayEvent: true,

                // event dates
                events: dates_events,


                // disable showing event details
                disableEventDetails: false,

                // disable showing empty date details
                disableEmptyDetails: true,

                onMonthChange: function (month, year) {
                    $(".today").removeClass("today");
                    if (month == window.current_date['month'] && year == window.current_date['year'])
                        date = window.current_date['full_date'];
                    let a = $("div").find(`[data-date='${date}']`);
                    a.addClass("today");
                },


                onDateSelect: function (date, events) {
                    if (new_dates.indexOf(date.toString()) != -1) {

                        year = parseInt(date.toISOString().split('-')[0])
                        month = parseInt(date.toISOString().split('-')[1]) - 1
                        full_date = date.toISOString()

                        window.current_date = {'year': year, 'month': month, 'full_date': full_date};

                        $(".today").removeClass("today");

                        console.log(date.toDateString());
                        console.log(date.toISOString());

                        let a = $("div").find(`[data-date='${date.toISOString()}']`);
                        a.addClass("today");


                        $.ajax({
                            url: "/",
                            type: 'POST',
                            data: ({
                                type: 'date_event',
                                date: date.toDateString()
                            }),
                            datatype: 'text',
                            success: dateSuccess
                        })


                    }
                }


            });


            $(".today").removeClass("today");


        }

        $.ajax({
            url: "/",
            type: 'POST',
            data: ({
                type: 'get_date_list',
            }),
            datatype: 'text',
            success: get_date_list
        })


        // window.dates = [[23, 4, 2022], [25, 3, 2022], [20, 5, 2021], [2, 7, 2022], [4, 2, 2022], [13, 10, 2021]]


        function dateSuccess(data) {

            $(".block").css("display", "block");

            let top_pos = $(" #keogram_slider ").height() + $(" #keogram_slider ").position().top + $(" #autoscale_keogramm ").height();
            let left_pos = $(" #keogram_slider ").position().left - $(" #autoscale_keogramm ").width() * 2 / 3;
            $(" #autoscale_keogramm ").offset({top: top_pos, left: left_pos});

            let top_pos2 = $(" #heatmap_slider ").height() + $(" #heatmap_slider ").position().top + $(" #autoscale_heatmap ").height();
            let left_pos2 = $(" #heatmap_slider ").position().left - $(" #autoscale_heatmap ").width() * 2 / 3;
            $(" #autoscale_heatmap ").offset({top: top_pos2, left: left_pos2});

            $("#heatmap_graph").remove();
            $("#keogram_graph").remove();
            $("#lightcurve_graph").remove();

            $('<div>', {
                id: 'heatmap_graph'
            }).appendTo("#heatmaps");

            $('<div>', {
                id: 'keogram_graph'
            }).appendTo("#keogram");


            $('<div>', {
                id: 'lightcurve_graph'
            }).appendTo("#lightcurve");

            $("#heatmap_slider").slider("values", [20000, 200000]);
            $("#keogram_slider").slider("values", [20000, 200000]);

            window.change_pos(20000, " #first_keogram_text ", " #keogram_slider ");
            window.change_pos(200000, " #second_keogram_text ", " #keogram_slider ");
            window.change_pos(20000, " #first_heatmap_text ", " #heatmap_slider ");
            window.change_pos(200000, " #second_heatmap_text ", " #heatmap_slider ");

            window.current = 1

            $.ajax({
                url: "/",
                type: 'POST',
                data: ({
                    type: 'first_event',
                    first: true
                }),
                datatype: 'text',
                success: window.firstSuccess
            })


        }

    </script>

</div>


<div class="block">
    <h1>Light Curve</h1>

    <div class="personal_lightcurve_class">
        <div id="lightcurve" class="lightcurve">
            <div id="lightcurve_graph">
            </div>
        </div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="block">
    <h1>Keogramm</h1>
    <div class="something_and_slider">
        <div id="keogram" class="keogram">
            <div id="keogram_graph">
            </div>
        </div>
        <div>
        </div>
        <div>
            <div id="keogram_slider" class="ui-slider-vertical"></div>
            <div id="first_keogram_text" class="slider_text">a</div>
            <div id="second_keogram_text" class="slider_text">a</div>
            <div class="autoscale_button" id="autoscale_keogramm">
                <button class="btn btn-primary">Autoscale</button>
                <script>


                    $(document).ready(function () {
                        $("#autoscale_keogramm").bind("click",
                            function () {
                                $.ajax({
                                    url: "/",
                                    type: 'POST',
                                    data: ({
                                        type: 'keogram_slider_event',
                                        value0: 0,
                                        value1: 0,
                                    }),
                                    datatype: 'text',
                                    success: keogram_success
                                })
                            });
                    })
                </script>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/keogramm_slider.js') }}"></script>
</div>


<div class="block">
    <h1>Frame</h1>
    <div class="something_and_slider">
        <div id="heatmaps">
            <div id="heatmap_graph">
            </div>
        </div>
        <div></div>
        <div>
            <div id="heatmap_slider" class="ui-slider-vertical"></div>
            <div id="first_heatmap_text" class="slider_text">a</div>
            <div id="second_heatmap_text" class="slider_text">a</div>
            <div class="autoscale_button" id="autoscale_heatmap">
                <button class="btn btn-primary">Autoscale</button>
                <script>

                    $(document).ready(function () {
                        $("#autoscale_heatmap").bind("click",
                            function () {

                                window.is_heatmap_autoscale = true;

                                $.ajax({
                                    url: "/",
                                    type: 'POST',
                                    data: ({
                                        type: 'heatmap_slider_event',
                                        value0: 0,
                                        value1: 0,
                                        current: window.current,
                                        is_auto: window.is_heatmap_autoscale
                                    }),
                                    datatype: 'text',
                                    success: window.funcSucces
                                })
                            });
                    })
                </script>
            </div>
        </div>
    </div>
    <script>
        window.current = 1;
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/hm_slider.js') }}"></script>

    <center>
        <h5 class="header" id="text_id">Wait, please....</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" id="last3"><<<</button>
            <button type="button" class="btn btn-primary" id="last2"><<</button>
            <button type="button" class="btn btn-primary" id="last"><</button>
            <div class="play">
                <button type="button" class="btn btn-primary" id="play" title="Play">▶</button>
            </div>
            <button type="button" class="btn btn-primary" id="next"> ></button>
            <button type="button" class="btn btn-primary" id="next2"> >></button>
            <button type="button" class="btn btn-primary" id="next3"> >>></button>
        </div>
    </center>
</div>


<div class="block">
</div>

{% endblock %}