{% extends "base.html" %}

<!-- HERE STARTS THE ACTUAL DESIGN OF MAIN PAGE -->
{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename='js/hm_buttons.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/def_slider_values.js') }}"></script>
<script>
    $(document).ready(function () {
        let nIntervId;

        function active() {

            if (!nIntervId) {
                    nIntervId = setInterval(flashText, 100);
            }

            button_play = document.getElementById("play")
            if (button_play.title === "Stop") {
                clearInterval(nIntervId);
                nIntervId = null;
                button_play.title = "Play"
            } else {
                console.log("dfgfgfge")
                button_play.title = "Stop"
                console.log(button_play.title)
                }

            // check if already an interval has been set up

        }

        function flashText() {
            $.ajax({
                url: "/",
                type: 'POST',
                data: ({
                    type: 'heatmap_button_event',
                    current: window.current,
                    pos: 'play',
                    value0: window.value_heatmap0,
                    value1: window.value_heatmap1
                }),
                datatype: 'text',
                success: window.funcSucces
            })
        }


        document.getElementById("play").addEventListener("click", active);
    })

</script>

<center class="main_text"><h2>Данные с УФ-телескопа обсерватории ПГИ для исследования полярных сияний</h2></center>
<div class="files_list" id="listing">
    <div class="calendar-wrapper">
    </div>
    <script>
        function selectDate(date) {
          $('#calendar-wrapper').updateCalendarOptions({
            date: date
          });
          console.log(calendar.getSelectedDate());
        }


        $('.calendar-wrapper').calendar();
        $('.calendar-wrapper').calendar({
            nextButton: 'Next',
            prevButton: 'Last',
            weekDayLength: 1,
            onClickDate: selectDate,
            showYearDropdown: true,
        });



    </script>

</div>


<div class="block">
    <h1>Light Curve</h1>

    <div id="lightcurve" class="lightcurve">
        <div id="lightcurve_graph">
        </div>
    </div>
</div>


<div class="block">
    <h1>Keogramm</h1>
    <div class="something_and_slider">
        <div id="keogram" class="keogram">
            <div id="keogram_graph">
            </div>
        </div>

        <div>
            <div id="keogram_slider" class="ui-slider-vertical"></div>
            <div id="first_keogram_text" class="slider_text">a</div>
            <div id="second_keogram_text" class="slider_text">a</div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/keogramm_slider.js') }}"></script>
</div>


<div class="block">
    <h1>Frame</h1>
    <div class="something_and_slider">
        <div id="heatmaps">
            <div id="heatmap_graph">
            </div>
        </div>
        <div></div>
        <div>
            <div id="heatmap_slider" class="ui-slider-vertical"></div>
            <div id="first_heatmap_text" class="slider_text">a</div>
            <div id="second_heatmap_text" class="slider_text">a</div>
        </div>
    </div>
    <script>
        window.current = 1;
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/hm_slider.js') }}"></script>

    <center>
        <h5 class="header" id="text_id">You are on the frame number 1</h5>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" id="last3"><<<</button>
            <button type="button" class="btn btn-primary" id="last2"><<</button>
            <button type="button" class="btn btn-primary" id="last"><</button>
            <div class="play">
                <button type="button" class="btn btn-primary" id="play" title="Play">▶</button>
            </div>
            <button type="button" class="btn btn-primary" id="next"> ></button>
            <button type="button" class="btn btn-primary" id="next2"> >></button>
            <button type="button" class="btn btn-primary" id="next3"> >>></button>
        </div>
    </center>
</div>


<div class="block">
</div>

{% endblock %}