{% extends "register_base.html" %}

{% block content %}
    {{ form.hidden_tag() }}
	{% with messages = get_flashed_messages(with_categories=true) %}
		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		{% if messages %}
			{% for category, message in messages %}
				<div id="liveAlertPlaceholder">
					<div class="alert alert-{{ category }} alert-dismissible" role="alert">
						{{ message }}
						<button id="remove-alert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						<script type="text/javascript">
							var closeAlert = document.getElementById('remove-alert')

							if (closeAlert) {
								closeAlert.addEventListener('click', function() {
									remove()
								})
							}
							function remove() {
								var div = document.getElementById("liveAlertPlaceholder");
								div.parentNode.removeChild(div);
							}
						</script>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}

    <h3>Введите новый пароль</h3>
    <div class="form-wrapper">
        {{ form.password.label }}
        {{ form.password(type="password", class="form-control", id="pass1") }}<br>
        {% for error in form.password.errors %}
			<p class="alert alert-danger" role="alert" style="color:red">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="form-wrapper">
		{{ form.password_again.label }}
		{{ form.password_again(id='pass2', type="password", class="form-control") }}
		{% for error in form.password_again.errors %}
			<p class="alert alert-danger" role="alert" style="color:red">
				{{ error }}
			</p>
		{% endfor %}
		<div class="error_msg" style="color:red">
			{{ message }}
		</div>
	</div>

    <div class='text-center'>
		<button type="submit" id="submit">Установить новый пароль</button>
	</div>
{% endblock %}