{% extends "register_base.html" %}

{% block content %}
    {{ form.hidden_tag() }}
    <h3>Reset Password</h3>
    <div class="form-wrapper">
        {{ form.nick.label }}
        {{ form.nick(type="nick", class="form-control", id="nick") }}<br>
        {% for error in form.nick.errors %}
			<p class="alert alert-danger" role="alert" style="color:red">
				{{ error }}
			</p>
		{% endfor %}
        <div class="error_msg" style="color:red">
            {{ message }}
        </div>
    </div>
    <div class='text-center'>
		<button type="submit" id="submit">Запросить сброс пароля</button>
	</div>
{% endblock %}
