{% extends "NEW_BASE.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}"/>

<div class="block">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/profile_pics') }}/{{ user.profile_pic }}" />
            <div class="media-body">
                <h2 class="media-heading">{{ user.name + " " + user.surname }}</h2>
                <h5 class="media-heading">@{{ user.nickname }}</h5>

                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- FORM here -->
        <div class="content-section justify-content-center">
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Accout Info</legend>
                    <div class="form-group mb-3">
                        {{ form.picture.label() }}
                        {{ form.picture(class='form-control', type='file', value=user.profile_photo, accept="image/png, image/jpeg") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.nickname.label(class="form-control-label") }}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        {% if form.nickname.errors %}
                            {{ form.nickname(type="text", class="form-control form-control-lg is-invalid", id="nickname", value=user.nickname) }}
                        </div>
                            <div class="invalid-feedback">
                                {% for error in form.nickname.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nickname(type="text", class="form-control form-control-lg", id="nickname", value=user.nickname) }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="form-wrapper">
                            {{ form.name.label }}
                            {% if form.name.errors %}
                                {{ form.name(type="text", class="form-control form-control-lg is-invalid", id='name', value=user.name) }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(type="text", class="form-control form-control-lg", id='name', value=user.name) }}
                            {% endif %}
                        </div>
                        <div class="form-wrapper">
                            {{ form.surname.label }}

                            {% if form.surname.errors %}
                                {{ form.surname(id='sec_name', type="text", class="form-control form-control-lg is-invalid", value=user.surname) }}
                                <div class="invalid-feedback">
                                    {% for error in form.surname.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.surname(id='sec_name', type="text", class="form-control form-control-lg", value=user.surname) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-wrapper">
                        {{ form.email.label }}

                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid", type="email", id="email", value=user.email, autocomplete='off') }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg", type="email", id="email", value=user.email, autocomplete='off') }}
                        {% endif %}
                    </div>
                    {% for error in error_msg %}
                        <p align='left' style="color:red">
                            {{ error }}
                        </p><br>
                    {% endfor %}
                </fieldset>
                <br>
                <div class='text-center form-group'>
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <br>
            </form>
        </div>
    </div>
</div>

{% endblock %}